<section id="about">
    <figure>
        <img src="/assets/images/man-eating-taco.png" alt="Tocho's logo or representative image">
    </figure>

    <h1>About Tocho</h1>

    <p class="description">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae veritatis repellat facere velit accusamus!
        Itaque, mollitia consequuntur, ullam dignissimos placeat similique omnis odit veniam culpa eaque ab nemo nisi
        accusantium.
    </p>

    <div class="made-in-indiana-container">
        <img src="/assets/images/icons/star.svg" class="star-icon" alt="Star">
        <p class="made-in-indiana">
            Made in<br>Indiana
        </p>
        <img src="/assets/images/icons/star.svg" class="star-icon" alt="Star">
    </div>
</section>