<footer class="footer" aria-labelledby="footer-heading">
    <div class="footer-container">
        <div class="footer-logo">
            <a href="/" title="Go to homepage">
                <img src="/assets/images/logos/tocho-logo-large.png" alt="Tocho Logo" />
            </a>
        </div>
        <div class="footer-columns">
            <section class="footer-column" aria-labelledby="location-heading">
                <h3 id="location-heading">Location</h3>
                <p>4935 Bluffton Rd<br>Fort Wayne, IN 46809</p>
                <h3 class="footer-phone">Phone</h3>
                <p>(260) 399-5761</p>
            </section>
            <section class="footer-column" aria-labelledby="hours-heading">
                <h3 id="hours-heading">Hours</h3>
                <p>Monday–Friday: 11:00am–9:00pm</p>
                <p>Saturday: 11:00am–8:30pm</p>
                <p>Sunday: 11:00am–5:30pm</p>
            </section>
            <section class="footer-column" aria-labelledby="connect-heading">
                <h3 id="connect-heading">Connect with us</h3>
                <a href="https://www.instagram.com/tocho.fw/" class="social-link">
                    <img src="/assets/images/icons/instagram.svg" alt="Instagram" class="ig-icon">
                </a>
                <a href="https://www.facebook.com/profile.php?id=61567306719392" class="social-link">
                    <img src="/assets/images/icons/facebook.svg" alt="Facebook" class="fb-icon">
                </a>
            </section>
        </div>
    </div>
</footer>