<section class="hero-image">
    <img src="/assets/images/logos/tocho-logo-large.png" alt="Tocho logo">
    <div class="hero-buttons">
        <a href="https://order.toasttab.com/online/tocho-4935-bluffton-road?diningOption=takeout&rwg_token=AJKvS9V3ZBuqYPxaOqluhVo2htNT1EGBEIW4qnttrqclfojfypVGPkHMx5YiPVPgAC7fSYxsuGxYGmNKZD1kNhqxbJGz-I0Kdw%3D%3D" class="button view-menu">View Menu</a>
        <a href="https://order.toasttab.com/online/tocho-4935-bluffton-road?diningOption=takeout&rwg_token=AJKvS9V3ZBuqYPxaOqluhVo2htNT1EGBEIW4qnttrqclfojfypVGPkHMx5YiPVPgAC7fSYxsuGxYGmNKZD1kNhqxbJGz-I0Kdw%3D%3D" class="button order-online">Order Online</a>
    </div>
</section>