<section id="location" aria-labelledby="location-heading">
    <div class="container">
        <div class="location-details">
            <h1 class="location-heading">Location</h1>
            <p>4935 Bluffton Rd<br>Fort Wayne, IN 46809</p>
        </div>
        <div class="map" aria-labelledby="map-heading">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3158.2623423207215!2d-85.16891952379403!3d41.03922007134622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8815e5f08d427cf5%3A0x9c57c19923922eff!2sTocho%20%7C%20Local%20Fort%20Wayne%20Authentic%20Mexican%20Restaurant!5e1!3m2!1sen!2sus!4v1740287671475!5m2!1sen!2sus"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade" aria-describedby="map-heading"></iframe>
        </div>
    </div>
</section>