<section id="menu">
    <div class="container">
        <h1>Our Menu</h1>
        <div class="menu-items">
            <a href="https://order.toasttab.com/online/tocho-4935-bluffton-road" class="menu-item">
                <img src="/assets/images/menu/taco.webp" alt="Taco" loading="lazy">
                <h2>Tacos</h2>
            </a>
            <a href="https://order.toasttab.com/online/tocho-4935-bluffton-road" class="menu-item">
                <img src="/assets/images/menu/burrito.webp" alt="Burrito" loading="lazy">
                <h2>Burritos</h2>
            </a>
            <a href="https://order.toasttab.com/online/tocho-4935-bluffton-road" class="menu-item">
                <img src="/assets/images/menu/bowl.webp" alt="Bowl" loading="lazy">
                <h2>Bowls</h2>
            </a>
            <a href="https://order.toasttab.com/online/tocho-4935-bluffton-road" class="menu-item">
                <img src="/assets/images/menu/bebida.webp" alt="Bebida" loading="lazy">
                <h2>Bebidas</h2>
            </a>
        </div>
        <div class="order-now">
            <a href="https://order.toasttab.com/online/tocho-4935-bluffton-road" class="button">Order Now</a>
        </div>
    </div>
</section>