<nav aria-label="Main Navigation">
    <div class="logo">
        <a href="/" title="Go to homepage">
            <img src="/assets/images/tocho-logo.png" alt="Tocho Logo" />
        </a>
    </div>
    <div>
        <a href="/menu" title="View the menu">Menu</a>
        <a href="/specials" title="Check out our specials">Specials</a>
        <a href="/about" title="Learn more about us">About</a>
        <a href="/location" title="Find our location">Location</a>
        <a href="/contact" title="Contact us">Contact</a>
    </div>
</nav>