<section id="specials">
    <h2 class="section-title">Specials</h2>
    <div class="container">
        {%- for special in specials.specials %}
        <a href="https://order.toasttab.com/online/tocho-4935-bluffton-road" class="special-card {{ special.name | slugify }}">
            <h2>{{ special.name }}</h2>
            <img src="{{ special.image }}" alt="{{ special.alt }}" loading="lazy">
            <p class="description">{{ special.description }}</p>
            <!-- <p class="price">{{ special.price }}</p> -->
        </a>
        {%- endfor %}
    </div>
</section>