<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/assets/css/style.css">
    </head>
    <body>
        {% include "navbar.html" %}
        <section class="hero-image"></section>
        <section class="text-banner">
            <div class="text-column">flavors for everyone</div>
            <div class="text-column">flavors for everyone</div>
            <div class="text-column">flavors for everyone</div>
        </section>
        {{ content }}
    </body>
</html>