<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Authentic Mexican Food located on 4935 Bluffton Rd., Fort Wayne, Indiana 46809.">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/assets/css/global.css">
        <link rel="stylesheet" href="/assets/css/home.css">
        <link rel="preload" fetchpriority="high" as="image" href="/assets/images/hero.webp" type="image/webp">
    </head>
    <body>
        {% include "navbar.html" %}
        {{ content }}
        {% include "footer.html" %}
        <script src="/assets/js/script.js"></script>
    </body>
</html>