@font-face {
    font-family: 'Gardez';
    src: url('/assets/fonts/Gardez/Gardez-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'MonumentExtended';
    src: url('/assets/fonts/Monument_Extended/MonumentExtended-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MonumentExtended';
    src: url('/assets/fonts/Monument_Extended/MonumentExtended-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MonumentExtended';
    src: url('/assets/fonts/Monument_Extended/MonumentExtended-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Globs Trial';
    src: url('/assets/fonts/TT_Globs/TTGlobsTrial-Variable.ttf') format('opentype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'MonumentExtended', sans-serif;
    line-height: 1.6;
}

/* Container */
.container {
    max-width: 1200px;
    margin: auto;
}

@media (max-width: 768px) {
    .container {
        padding: 0 .5rem;
    }
}

/* Headings */
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.35rem;
}

p {
    font-size: 1rem;
}

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1.1rem;
    }

    p {
        font-size: .8rem;
    }
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'TT Globs Trial', sans-serif;
    transition: background-color 0.3s ease;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav .logo img {
    max-height: 50px;
    width: auto;
    display: block;
}

nav div.nav-links {
    display: flex;
    gap: 20px;
}

nav a {
    color: #FF1E00;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
    padding: 8px;
}

nav a:hover,
nav a:focus {
    text-decoration: underline;
}

nav.solid-background {
    background-color: #fff;
}

/* Hamburger Button */
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger img {
    width: 30px;
    height: 30px;
    display: block;
}

/* Close Button Inside the Mobile Menu */
.close-btn {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.close-btn img {
    width: 30px;
    height: 30px;
}

/* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    background-color: #FF1E00;
    color: white;
    padding: 50px 20px;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    transition: right 0.3s ease;
    z-index: 15;
    font-family: 'TT Globs Trial', sans-serif;
}

.mobile-menu.open {
    right: 0;
}

.mobile-menu a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s ease;
}

.mobile-menu.open a {
    display: block;
    margin-bottom: 20px;
}

/* Hide Hamburger and Show Close Button when Menu is Open */
.mobile-menu.open .hamburger {
    display: none; /* Hide hamburger icon when menu is open */
}

.mobile-menu.open .close-btn {
    display: block; /* Show close button when menu is open */
}

/* Responsive Styles */
@media (max-width: 992px) {
    nav .container {
        flex-direction: row;
        align-items: center;
    }

    nav .logo {
        margin-bottom: 0;
    }

    nav .logo img {
        max-height: 30px;
    }

    nav div.nav-links {
        display: none;
    }

    .hamburger {
        display: block;
        margin-left: auto;
    }
}

/* Footer */
footer {
    background-color: #E7E6D9;
    color: #FF1E00;
    text-align: left;
    padding: 5rem 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .footer-logo img {
    max-height: 300px;
    width: auto;
}

footer .ig-icon {
    height: 45px;
    width: 45px;
    padding-top: 5px;
    margin-bottom: 7px;
}

footer .fb-icon {
    height: 55px;
    width: 55px;
}

footer .social-link {
    text-decoration: none !important;
}

footer .footer-columns {
    display: flex;
    gap: 30px;
    margin: 50px 0 0 100px;
}

footer .footer-column h3 {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 400;
}

footer .footer-column p {
    margin-bottom: 5px;
    font-weight: 100;
}

footer .footer-column a {
    color: #FF1E00;
    text-decoration: none;
}

footer .footer-phone {
    margin-top: 30px;
}

footer .footer-column a:hover {
    text-decoration: underline;
}

@media (min-width: 769px) and (max-width: 992px) {
    footer .footer-logo img {
        max-height: 225px;
    }

    footer .footer-columns {
        margin: 50px 0 0 30px;
    }
}

@media (max-width: 768px) {
    footer {
        text-align: center;
    }

    footer .container {
        flex-direction: column;
        align-items: center;
    }

    footer .footer-columns {
        flex-direction: column;
        align-items: center;
        margin: 0;
        max-width: 400px;
    }

    footer .footer-logo img {
        max-height: 200px;
    }
}